CompileFlags:
  Add:
    - -Wall
    - -Wextra

    - -I.

    - -D__sfr=extern volatile unsigned char
    - -D__sbit=extern volatile unsigned char
    - -D__at(x)=
    - -D__interrupt(x)=

Diagnostics:
  ClangTidy:
    Add:
      - clang-analyzer-*
